name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  BE-build-test-package:
    name: BE Build & Test & Package
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    - name: Build and test with Maven
      run: mvn -B package --file pom.xml
      
    - name: Upload resulting Build package
      uses: actions/upload-artifact@v4
      with:
        name: Package
        path: target

  BE-docker-image-delivery:
    name: BE Docker Image Delivery
    runs-on: ubuntu-latest
    needs: BE-build-test-package

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          name: Package
          path: target/

      - name: Generate image tag
        id: date
        run: echo "::set-output name=date::$(date +%Y%m%d-%H%M%S)"

      - name: Docker build
        run: docker build -f src/main/docker/Dockerfile.jvm -t iideveloper21/qrks-backend25:$TAG_NAME .
        env:
          TAG_NAME: CD-${{ steps.date.outputs.date }}

      - name: Retag to latest
        run: docker tag iideveloper21/qrks-backend25:$TAG_NAME iideveloper21/qrks-backend25:latest
        env:
          TAG_NAME: CD-${{ steps.date.outputs.date }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASS }}

      - name: Docker push
        run: docker push iideveloper21/qrks-backend25:$TAG_NAME && docker push iideveloper21/qrks-backend25:latest
        env:
          TAG_NAME: CD-${{ steps.date.outputs.date }}
        
        
